$main-color: #21b8c6;
$secondary-color: #8499a7;

::-webkit-input-placeholder {
  color: #95a7b3;
  padding-top: 5px;
}

.icon--round {
  position: absolute;

  width: 17px;
  height: 17px;

  background: #fff;
  border: 2px solid rgb(160, 176, 186);
  border-radius: 50%;

  color: rgb(13, 127, 138);
  text-align: center;
  font-size: 11px;
  line-height: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 24px;
}

main {
  background-color: #f0f3f6;
  width: 1024px;
  height: 768px;
  margin: 20px auto;

  #pop-up {
    position: absolute;
    width: 1024px;
    height: 768px;
    background: rgba($color: #f0f3f6, $alpha: 0.8);
    z-index: 1;

    display: none;

    .comments {
      border-radius: 3px;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(194, 205, 216, 0.8);

      position: absolute;
      left: calc((1024px - 810px) / 2);
      top: 95px;
      width: 810px;
      height: 595px;

      z-index: 3;

      &__img {
        position: absolute;
        width: 450px;
        height: 575px;

        background: red;
        background-position: center center;
        background-size: cover;
        border-top-left-radius: 3px;
      }

      &__img-hover {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: inherit;
        background: rgba($color: #ffffff, $alpha: 0.9);

        .likes {
          position: absolute;
          right: 6px;
          bottom: 7px;
          display: flex;
          justify-content: space-between;
          width: calc((65px * 2) + 6px);
        }

        .icon--like,
        .icon--dislike {
          position: relative;
          width: 65px;
          height: 60px;
          background: #e0e5e9;
          background-image: url('icons/like-icon.png');
          background-position: center center;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        .icon--dislike {
          transform: rotate(180deg);
        }

        .icon--like__count {
          top: 13px;
          right: 10px;
        }

        .icon--dislike__count {
          transform: rotate(180deg);
          bottom: 13px;
          left: 14px;
        }
      }

      .all-likes--active {
        background-image: url('icons/like-icon-active.png');
      }

      .like--active {
        transform: translateY(7px);
        background-color: #28d0ce;
      }

      .dislike--active {
        transform: rotate(180deg) translateY(-7px);
        background-color: #d02828;
      }

      .side-bar {
        position: relative;
        float: right;
        width: calc(810px - 450px);
        padding: 35px 15px 20px 25px;

        &__head {
          color: rgb(132, 153, 167);
          text-align: left;
          margin-left: 6px;
        }

        &__comments {
          height: 420px;
          width: 313px;
          margin: auto;
          padding-right: 18px;
          border-bottom: 2px solid rgb(209, 218, 227);
          overflow-y: scroll;
        }

        &__comments::-webkit-scrollbar {
          width: 5px;
        }

        &__comments::-webkit-scrollbar-thumb {
          background-color: $main-color;
          border-radius: 2.5px;
        }

        &__comments::-webkit-scrollbar-track {
          border-radius: 2.5px;
          background: #d1dae3;
        }

        .commentary {
          margin-bottom: 9px;
        }

        .name-time {
          display: flex;
          justify-content: space-between;
          color: #95a7b3;
          font-size: 11px;
        }

        .new-comment {
          border: 2px solid #f0f3f6;
          border-radius: 3px;
          padding: 10px;
          color: #607583;
          font-size: 14px;
        }

        #comments-form {
          position: relative;
          width: 290px;
          margin: auto;
        }

        #user-name,
        #textarea-comment {
          font-size: 14px;
          outline: none;
        }

        #user-name {
          width: 290px;
          margin-top: 6px;

          border: none;
          border-bottom: 2px solid #f0f3f6;
        }

        #user-name:focus,
        #textarea-comment:focus {
          border-color: $main-color;
        }

        #textarea-comment {
          height: 50px;
          width: 242px;
          margin-top: 10px;

          border: 2px solid #f0f3f6;
          border-radius: 3px;

          resize: none;
        }

        #comment-send {
          position: absolute;
          right: 2px;

          width: 50px;
          height: 50px;
          margin-top: 10px;

          background-image: url('icons/send-icon.png');
          background-position: center center;
          background-repeat: no-repeat;
          background-color: $main-color;
          border: 2px solid $main-color;
          border-radius: 0 3px 3px 0;

          cursor: pointer;
        }

      }

      #pop-up--close {
        position: absolute;
        right: 17px;
        top: 12px;
        width: 7px;
        height: 24px;
        transform: rotate(45deg);
        background-color: rgb(33, 184, 198);
        cursor: pointer;

        input {
          display: none;
        }
      }

      #pop-up--close::after {
        content: "";
        display: block;
        position: absolute;

        width: inherit;
        height: inherit;
        background-color: rgb(33, 184, 198);
        transform: rotate(-90deg);
      }
    }
  }

  .main-section {
    width: calc(236px * 4 + 10px * 3);
    margin: auto;

    .title {
      position: relative;
      display: inline-block;
      margin-top: 22px;
      margin-bottom: 15px;

      text-transform: uppercase;
      color: $secondary-color;
      z-index: 2;
    }

    .imagestock-color {
      color: $main-color;
    }
  }

  .photo-section {
    width: inherit;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-bottom: 40px;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $main-color;
      border-radius: 8px;
      // outline: 1px solid slategrey;
    }

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background: #d1dae3;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(4, 236px);
      grid-template-rows: repeat(3, 200px);
      gap: 10px 10px;
      margin: auto;

      &:not(:first-child) {
        margin-left: 10px;
      }

      .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        background-position: center center;
        background-size: cover;
        background-color: white;

        border-radius: 3px;
        box-shadow: 0px 2px 10px 0px rgba(194, 205, 216, 0.6);

        &:hover .with-photo {
          display: flex;
        }

        .form label {
          position: relative;
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: rgb(33, 184, 198);
          box-shadow: 0px 2px 3px 0px rgba(160, 176, 186, 0.6);

          color: white;
          font-weight: 1000;
          font-size: 60px;
          text-align: center;

          cursor: pointer;
        }

        .form label:hover {
          transition-duration: 1s;
          transform: scale(1.2);
        }

        .form label::after {
          content: "Add your Picture";
          display: block;
          width: 60px;
          position: relative;
          left: -5px;
          top: calc(100% + 10px);

          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: rgb(160, 176, 186);

        }

        .form label:active {
          transform: scale(0.8);
        }

        .form .crest {
          position: absolute;
          right: calc(50% - 10px);
          top: calc(50% - 10px);
          width: 20px;
          height: 20px;
          background-color: inherit;
        }

        .form .crest::before {
          content: "";
          display: block;
          position: absolute;
          top: calc(50% - 3px);

          height: 6px;
          width: 100%;
          background-color: white;
        }

        .form .crest::after {
          content: "";
          display: block;
          position: absolute;
          left: calc(50% - 3px);

          height: 100%;
          width: 6px;
          background-color: white;
        }

        .form .image input {
          display: none;
        }

        .item--hover {
          position: absolute;
          display: none;
          justify-content: space-between;
          bottom: 0;
          background: #fff;
          opacity: 0.9;
          width: 100%;
          height: 60px;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          padding: 0 22px 0 15px;

          &__comment {
            position: relative;
            display: flex;
            align-items: center;
          }

          &__likes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80px;
          }

          &--like {
            position: relative;
          }

          &--dislike {
            position: relative;
            transform: rotate(180deg);
          }

          .dislike-round-position {
            transform: rotate(180deg);
            top: 15px;
            left: -5px;
          }

          .like-round-position {
            bottom: 15px;
            left: 18px;
          }

          .comment-round-position {
            top: 12px;
            left: 15px;
          }
        }

      }


      .item-horizontal--1 {
        grid-area: 1 / 1 / 2 / 3;
      }

      .item-vertical {
        grid-area: 1 / 3 / 3 / 4;
      }

      .item-horizontal--2 {
        grid-area: -1 / 2 / -2 / 4;
      }
    }
  }
}


.scroll {
  width: 200px;
  height: 200px;
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar-thumb {
  background: green;
}

