::-webkit-input-placeholder {
  color: #95a7b3;
  padding-top: 5px;
}

.icon--round {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #fff;
  border: 2px solid #a0b0ba;
  border-radius: 50%;
  color: #0d7f8a;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 24px;
}

main {
  background-color: #f0f3f6;
  width: 1024px;
  height: 768px;
  margin: 20px auto;
}
main #pop-up {
  position: absolute;
  width: 1024px;
  height: 768px;
  background: rgba(240, 243, 246, 0.8);
  z-index: 1;
  display: none;
}
main #pop-up .comments {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(194, 205, 216, 0.8);
  position: absolute;
  left: calc((1024px - 810px) / 2);
  top: 95px;
  width: 810px;
  height: 595px;
  z-index: 3;
}
main #pop-up .comments__img {
  position: absolute;
  width: 450px;
  height: 575px;
  background: red;
  background-position: center center;
  background-size: cover;
  border-top-left-radius: 3px;
}
main #pop-up .comments__img-hover {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: inherit;
  background: rgba(255, 255, 255, 0.9);
}
main #pop-up .comments__img-hover .likes {
  position: absolute;
  right: 6px;
  bottom: 7px;
  display: flex;
  justify-content: space-between;
  width: calc((65px * 2) + 6px);
}
main #pop-up .comments__img-hover .icon--like,
main #pop-up .comments__img-hover .icon--dislike {
  position: relative;
  width: 65px;
  height: 60px;
  background: #e0e5e9;
  background-image: url("icons/like-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
main #pop-up .comments__img-hover .icon--dislike {
  transform: rotate(180deg);
}
main #pop-up .comments__img-hover .icon--like__count {
  top: 13px;
  right: 10px;
}
main #pop-up .comments__img-hover .icon--dislike__count {
  transform: rotate(180deg);
  bottom: 13px;
  left: 14px;
}
main #pop-up .comments .all-likes--active {
  background-image: url("icons/like-icon-active.png");
}
main #pop-up .comments .like--active {
  transform: translateY(7px);
  background-color: #28d0ce;
}
main #pop-up .comments .dislike--active {
  transform: rotate(180deg) translateY(-7px);
  background-color: #d02828;
}
main #pop-up .comments .side-bar {
  position: relative;
  float: right;
  width: calc(810px - 450px);
  padding: 35px 15px 20px 25px;
}
main #pop-up .comments .side-bar__head {
  color: #8499a7;
  text-align: left;
  margin-left: 6px;
}
main #pop-up .comments .side-bar__comments {
  height: 420px;
  width: 313px;
  margin: auto;
  padding-right: 18px;
  border-bottom: 2px solid #d1dae3;
  overflow-y: scroll;
}
main #pop-up .comments .side-bar__comments::-webkit-scrollbar {
  width: 5px;
}
main #pop-up .comments .side-bar__comments::-webkit-scrollbar-thumb {
  background-color: #21b8c6;
  border-radius: 2.5px;
}
main #pop-up .comments .side-bar__comments::-webkit-scrollbar-track {
  border-radius: 2.5px;
  background: #d1dae3;
}
main #pop-up .comments .side-bar .commentary {
  margin-bottom: 9px;
}
main #pop-up .comments .side-bar .name-time {
  display: flex;
  justify-content: space-between;
  color: #95a7b3;
  font-size: 11px;
}
main #pop-up .comments .side-bar .new-comment {
  border: 2px solid #f0f3f6;
  border-radius: 3px;
  padding: 10px;
  color: #607583;
  font-size: 14px;
}
main #pop-up .comments .side-bar #comments-form {
  position: relative;
  width: 290px;
  margin: auto;
}
main #pop-up .comments .side-bar #user-name,
main #pop-up .comments .side-bar #textarea-comment {
  font-size: 14px;
  outline: none;
}
main #pop-up .comments .side-bar #user-name {
  width: 290px;
  margin-top: 6px;
  border: none;
  border-bottom: 2px solid #f0f3f6;
}
main #pop-up .comments .side-bar #user-name:focus,
main #pop-up .comments .side-bar #textarea-comment:focus {
  border-color: #21b8c6;
}
main #pop-up .comments .side-bar #textarea-comment {
  height: 50px;
  width: 242px;
  margin-top: 10px;
  border: 2px solid #f0f3f6;
  border-radius: 3px;
  resize: none;
}
main #pop-up .comments .side-bar #comment-send {
  position: absolute;
  right: 2px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-image: url("icons/send-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #21b8c6;
  border: 2px solid #21b8c6;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
main #pop-up .comments #pop-up--close {
  position: absolute;
  right: 17px;
  top: 12px;
  width: 7px;
  height: 24px;
  transform: rotate(45deg);
  background-color: #21b8c6;
  cursor: pointer;
}
main #pop-up .comments #pop-up--close input {
  display: none;
}
main #pop-up .comments #pop-up--close::after {
  content: "";
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #21b8c6;
  transform: rotate(-90deg);
}
main .main-section {
  width: calc(236px * 4 + 10px * 3);
  margin: auto;
}
main .main-section .title {
  position: relative;
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #8499a7;
  z-index: 2;
}
main .main-section .imagestock-color {
  color: #21b8c6;
}
main .photo-section {
  width: inherit;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  padding-bottom: 40px;
}
main .photo-section::-webkit-scrollbar {
  height: 10px;
}
main .photo-section::-webkit-scrollbar-thumb {
  background-color: #21b8c6;
  border-radius: 8px;
}
main .photo-section::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #d1dae3;
}
main .photo-section .container {
  display: grid;
  grid-template-columns: repeat(4, 236px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px 10px;
  margin: auto;
}
main .photo-section .container:not(:first-child) {
  margin-left: 10px;
}
main .photo-section .container .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 0px rgba(194, 205, 216, 0.6);
}
main .photo-section .container .item:hover .with-photo {
  display: flex;
}
main .photo-section .container .item .form label {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #21b8c6;
  box-shadow: 0px 2px 3px 0px rgba(160, 176, 186, 0.6);
  color: white;
  font-weight: 1000;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}
main .photo-section .container .item .form label:hover {
  transition-duration: 1s;
  transform: scale(1.2);
}
main .photo-section .container .item .form label::after {
  content: "Add your Picture";
  display: block;
  width: 60px;
  position: relative;
  left: -5px;
  top: calc(100% + 10px);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #a0b0ba;
}
main .photo-section .container .item .form label:active {
  transform: scale(0.8);
}
main .photo-section .container .item .form .crest {
  position: absolute;
  right: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: inherit;
}
main .photo-section .container .item .form .crest::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  height: 6px;
  width: 100%;
  background-color: white;
}
main .photo-section .container .item .form .crest::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 3px);
  height: 100%;
  width: 6px;
  background-color: white;
}
main .photo-section .container .item .form .image input {
  display: none;
}
main .photo-section .container .item .item--hover {
  position: absolute;
  display: none;
  justify-content: space-between;
  bottom: 0;
  background: #fff;
  opacity: 0.9;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 22px 0 15px;
}
main .photo-section .container .item .item--hover__comment {
  position: relative;
  display: flex;
  align-items: center;
}
main .photo-section .container .item .item--hover__likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}
main .photo-section .container .item .item--hover--like {
  position: relative;
}
main .photo-section .container .item .item--hover--dislike {
  position: relative;
  transform: rotate(180deg);
}
main .photo-section .container .item .item--hover .dislike-round-position {
  transform: rotate(180deg);
  top: 15px;
  left: -5px;
}
main .photo-section .container .item .item--hover .like-round-position {
  bottom: 15px;
  left: 18px;
}
main .photo-section .container .item .item--hover .comment-round-position {
  top: 12px;
  left: 15px;
}
main .photo-section .container .item-horizontal--1 {
  grid-area: 1/1/2/3;
}
main .photo-section .container .item-vertical {
  grid-area: 1/3/3/4;
}
main .photo-section .container .item-horizontal--2 {
  grid-area: -1/2/-2/4;
}

.scroll {
  width: 200px;
  height: 200px;
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar-thumb {
  background: green;
}

/*# sourceMappingURL=style.css.map */
